audio {
  display: none;
}

.button span {
  font-size: 13px;
  color: #0C2340;
  font-family: Arial;
}

#formtext {
  color: white;
  font-family: Arial;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -100;
}

#display {
  color: white;
  font-size: 20px;
  font-family: Arial;
  margin-bottom: 10px;
  margin-top: 20px;
}

.musicboard {
  padding: 5px;
  margin: 0 auto;
  width: 1000px;
}

#idForm {
  display: block;
  margin-bottom: 15px;
}

.board-container {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.buttons-container {
  margin-top: 50px;
  text-align: center;
}

.keypad {
  word-spacing: 0;
  letter-spacing: 0;
  font-size: 0;
}

.button {
  font-size: 2rem;
  display: inline-block;
  position: relative;
  vertical-align: top;
  direction: ltr;
  margin: 1px;
  padding: 0;
  border-radius: 10px;
  border-color: #222;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: white;
  z-index: 1;
  color: black;
}

.button:hover {
  background-color: #0E4D92;
}

#timer {
  color: white;
  font-size: 30px;
  text-align: center;
}

.btn {
  display: inline-block;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 0;
  padding: 0;
}

.btn:focus {
  outline-color: transparent;
}

.recording-buttons {
  padding: 5px;
  background-color: #0C2340;
  border: 1.2px solid white;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-family: Arial;
}

.recording-buttons:hover:enabled {
  background-color: white;
  color: #0C2340;
}